@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600&family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*, html, body {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    background-color: whitesmoke;
    transition: 1s;
}

section {
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    height: 100vh;
}

.cta {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.title {
    font-size: 2rem;
    letter-spacing: 10px;
    font-family: 'Poppins', sans-serif;
    color: rgb(16, 16, 16);
}

.personal {
    flex-direction: column;
    text-align: left;
    margin: 300px;
    margin-bottom: 0px;
}

.photo {
    width: 250px;
    clip-path: circle();
}

.name{
    padding-top: 25px;
    font-size: 38px;
    letter-spacing: 10px;
    font-family: 'Poppins', sans-serif;
    color: rgb(16, 16, 16);
}

.bio {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
}

#btn {
    width: 65px;
    background: whitesmoke;
    border: 0px solid;
    margin: 10px;
    margin-left: 0px;
}

section {
    transition: 1s;
}

.sec-intro {
    opacity: 0;
    filter: blur(10px);
    transform: translateX(-100%);
}

.sec-intro.active {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.sec-content .animate{
    filter: blur(10px);
    transform: translateX(-100%);
}

.sec-content .photo{
    opacity: 0;
    transform: scale(.1)
}

.sec-content.active .photo{
    opacity: 1;
    transform: scale(1)
}

.sec-content.active .animate{
    filter: blur(0);
    transform: translateX(0);
}

.sec-content .social{
    opacity: 0;
    filter: blur(10px);
    transform: scale(.3)
}

.sec-content.active .social{
    opacity: 1;
    filter: blur(0);
    transform: scale(1)
}



@media screen and (max-width:1280px){
    .title {
        font-size: 1.5rem;
        letter-spacing: 7px;
    }

    #btn {
        width: 50px;
    }

    .personal {
        margin: 100px;
    }

    .photo {
        width: 150px;
    }

    .name {
        font-size: 24px;
    }

    .bio {
        font-size: 12px;
    }
}

@media screen and (max-width: 768px){
    #btn {
        width: 35px;   
    }

    .personal {
        text-align: center;
    }
}